.loading {
  display: flex;
  align-items: center;
  background-color: #eaf2ff;
  width: 100%;
  padding: 0 10px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: all .4s ease;

    &:hover {
      cursor: pointer;
      transform: rotateZ(-90deg) scale(1.1);
      transition: all .4s ease;
    }
  }

  p { font-weight: bold }
}
